.player {
  overflow: hidden;
  width: 220px;
  display: flex;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.834);
  border-radius: 50px 0px 0px 50px;
  span {
    font-size: 24px;
    margin-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    padding: 2px;
  }
}

.player-active{
  background-color: orange !important;
}
